::ng-deep .topBar {
    .menu-wrapper {
      .mat-button {
        &.opened {
            color: #2f5098;
            font-weight: bold;
        }
      }
    }
}

::ng-deep .mat-menu-panel {
    .mat-menu-item {
        &.active {
            background-color: #e1e1e1;
        }
    }
}